@page "{id:int}"
@model southosting.Pages.Adverts.DetailsModel

@{
    ViewData["Title"] = "Details";
    var advert = Model.Advert;
}

<h2>@advert.Title</h2>
<hr />

@await Html.PartialAsync("_Details", advert)

<div>
    <a class="btn btn-link" asp-page="./Index">Back to List</a>
@if(!User.IsInRole(Constants.StudentRole))
{
    <a class="btn btn-link" asp-page="./Manage/Index">Back to Manage</a>
}
</div>
